body{
    background:#E3DFDE;
}
h1,h2,h3{
    color: #F55F39;
}
.nombre{
    border: #F55F39 2px solid;
    background: #F55F39;
    color: #E3DFDE;
    text-align: right;
}
.estudio{
    text-align: center;
    margin-left: 450px;
}
.idioma{
    text-align: center;
    margin-left: 450px;
}